
<p>{{namee}}</p>

<form [formGroup]="productForm">
    <div class="form-group">
        <label>Name</label>
        <input #nameCode formControlName="name" (change)="setNamee(nameCode.value)" >
        <div *ngIf="(name?.touched||name?.dirty) && name?.invalid" class="alert alert-danger">
            
            <ul>
                <li *ngIf="name?.errors?.['required']">name is required</li>
                <li *ngIf="name?.errors?.['minlength']">min {{name?.errors?.['minlength'].requiredLength}}</li>
                <li *ngIf="name?.errors?.['maxlength']">max {{name?.errors?.['maxlength'].requiredLength}}</li>
            </ul>
        </div>
    </div>
    <div>
        <label>Desc</label>
        <input #descCode formControlName="desc">
    </div>
    <div>
        <label>imgUrl</label>
        <input #imgUrlCode formControlName="imgUrl">
    </div>
    <div>
        <label>price</label>
        <input #priceCode formControlName="price">
    </div>
    <button (click)="onSubmit()">Submit</button>
    <button (click)="update()">update</button>
</form>


